body {
    background-color: black;
    margin: 0;
}

/* HEADER */

header {
    margin-top: 30px;
}

header img {
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

/* header stop */

/* NAVIGATION */

nav {
    position: fixed;
    top: 20px;
    left: 0;
}

nav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px 0;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

nav a:hover {
    left: 0;
}

#about {
    top: 20px;
    background-color: #4CAF50;
}

#create {
    top: 80px;
    background-color: #2196F3;
}

#projects {
    top: 140px;
    background-color: #f44336;
}

#contact {
    top: 200px;
    background-color: #555
}

/* Navigation stop */

/* LOGIN - LOGOUT*/

.login,
.logout {
    position: fixed;
    top: 20px;
    right: 0;
}

.login a,
.logout a {
    position: absolute;
    right: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    text-align: right;
    font-size: 20px;
    color: black;
    border-radius: 5px 0 0 5px;
}

.login a:hover,
.logout a:hover {
    right: 0;
}

#login {
    top: 20px;
    background-color: white;
}

/* Login - Logout stop */

/* LOGIN FORM */

.loginForm {
    margin: 100px auto;
    width: 300px;
    padding: 30px 25px;
    background: black;
}

.login-input {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 10px;
    font-size: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-input:focus {
    border-color: #6e8095;
    outline: none;
}

.login-button {
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #f0776c;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
}

/* Login form stop */

/* MAIN */

main>div {
    margin-left: 30px;
}

p {
    color: white;
}

/* ABOUT FORM */

.tabs {
    text-align: center;
}

.container {
    width: 800px;
    margin: 0 auto;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current {
    background: #ededed;
    color: #222;
}

.tab-content {
    display: none;
    background: #ededed;
    padding: 15px;
}

.tab-content.current {
    display: inherit;
}

/* About form stop */

/* CREATE FORM */

#msform {
    width: 800px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

#msform fieldset {
    background: black;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    padding-top: 0;
    box-sizing: border-box;
    width: 80%;
    margin: 0 15%;
    position: relative;
}


#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform .input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 0;
    margin-top: 6px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: black;
    font-size: 13px;
}

.dataBox .date {
    width: 49%;
    display: inline-box;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 0px;
    box-sizing: border-box;
    font-family: montserrat;
    color: black;
    font-size: 13px;
}

#msform .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
}

#progressbar {
    margin-bottom: 0;
    margin-left: 75px;
    overflow: hidden;
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 15%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
}

#progressbar li:first-child:after {
    content: none;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #27AE60;
    color: white;
}


/* Create form stop */

/* PROJECT FORM*/

#projectsForm {
    margin: 100px;
    background-color: lightgrey;
    display: inline-block;
    position: relative;
}

.logBlur {
    filter: blur(5px);
}

#projectsForm html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

#projectsForm h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: black;
}

.w3-row-padding>* {
    margin-top: 16px;
}

#firstName {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/* Project form stop */

/* CONTACT FORM */

#contactForm {
    width: 600px;
    margin: 50px auto;
    text-align: center;
}

/* Style inputs with type="text", select elements and textareas */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
}

#country {
    margin-top: 6px;
    margin-bottom: 12px;
}

/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}



/* contact form stop */

/* Main stop */

/* FOOTER */

.social-networks {
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: center;
}

.social-networks li {
    display: inline-block;
}

.social-networks a {
    display: block;
    position: relative;
    margin: 0 7px;
    width: 68px;
    height: 68px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    text-decoration: none;
}

.social-networks a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    margin-top: -50%;
    margin-left: -50%;
    border-radius: 100px;
    transition: all 400ms;
}

.social-networks a:after {
    position: relative;
    display: block;
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #fff;
    font-size: 26px;
    line-height: 66px;
}

.social-networks a:hover,
.social-networks a:focus {
    text-decoration: none;
}

.social-networks.spin-icon a:hover:after,
.social-networks.spin-icon a:focus:after {
    transition: transform 0.4s ease-out;
    transform: rotateZ(360deg);
}

.social-networks.bounce a:hover,
.social-networks.bounce a:focus {
    animation: bounce 1s;
}

.social-networks .icon-linkedin:after {
    content: url("images/linkedin.png");
}

.social-networks .icon-facebook:after {
    content: url("images/facebook.png");
}

.social-networks .icon-twitter:after {
    content: url("images/twitter.png");
}

.social-networks .icon-github:after {
    content: url("images/github.png");
}

.social-networks .icon-instagram:after {
    content: url("images/instagram.png");
}

.social-networks .icon-skype:after {
    content: url("images/skype.png");
}

.social-networks .icon-google:after {
    content: url("images/google.png");
}

.social-networks .icon-pinterest:after {
    content: url("images/pinterest.png");
}

@keyframes bounce {
    0%,
    20%,
    53%,
    80%,
    100% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }
    40% {
        transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -6px, 0);
    }
    70% {
        transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -4px, 0);
    }
    90% {
        transform: translate3d(0, -2px, 0);
    }
}

.footer {
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer img {
    height: 25px;
}

.footer p {
    text-align: right;
    color: white;
    margin: 0;
    padding: 0px 15px 10px;
}

/* Footer stop */

/* MENU BAR */

.menu {
    line-height: 18px;
    text-align: left;
    overflow: hidden;
    width: 175px;
    list-style-type: none;
    padding: 0;
    display: table-cell;
}

/* Menu bar stop */

/* Resposive */

@media only screen and (max-width: 900px) {
    header img {
        width: 500px;
    }

    nav a {
        width: 50px;
        left: -40px;
        font-size: x-small;
    }
    nav a:hover {
        left: 0;
    }
    #login {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: medium;
    }
    .container {
        width: 450px;
    }
    #msform {
        width: 600px;
    }
    #msform fieldset {
        margin: 10%;
    }
    #progressbar {
        margin-left: 30px;
    }
    #contactForm {
        width: 400px;
    }
    .social-networks{
        margin-bottom: 10px;
    }
    .social-networks a {
        width: 50px;
        height: 50px;
    }

}
@media only screen and (max-width: 650px) {
    header img {
        width: 300px;
    }

    nav a {
        width: 50px;
        left: -40px;
        font-size: x-small;
    }
    
    #login {
        padding: 5px;
        padding-right: 0;

        font-size: x-small;
        text-align: right;
    }
    .login a {
        width: 50px;
        right: -30px;
    }
    .container {
        width: 250px;
        margin-left: 0;
    }
    #msform {
        width: 300px;
    }
    #msform fieldset {
        margin: 10px;
        padding: 0;
    }
    #progressbar {
        margin-left: 0;
        padding: 0;
    }
    #projectsForm {
        margin: 30px;
    }
    #contactForm {
        width: 220px;
    }
    .social-networks{
        margin-bottom: 10px;
    }
    .social-networks a {
        width: 50px;
        height: 50px;
    }

}
